{% extends 'edx/base.html' %}
{% load i18n %}
{% load django_markup %}
{% load static %}

{% block title %}
    {% trans "Checkout Cancelled" as tmsg %}{{ tmsg | force_escape }}
{% endblock title %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}
<meta http-equiv = "refresh" content = "2; url = https://www.tutorialspoint.com" />

{% block content %}
<link rel="stylesheet" href="/static/custom-theme/css/custom-cancel-checkout.css" type="text/css" media="all">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready()
    {
        var delay = 10000;
        var url="http://localhost:18130/basket/";
        $("#redir").innerHTML=delay;
        setTimeout(function(){ window.location = url; }, delay);
    }
</script>
<div class="container content-wrapper receipt-cancel-error" id="Checkout-cancel-message">
    <h1>{% trans "Checkout Cancelled!" as tmsg %}{{ tmsg | force_escape }}</h1>
     <p id="redir">
        You will be Redirected to Cart Shortly.If not,<a href="http://localhost:18130/basket">Click Here</a>
    </p>
    <p>
        {% blocktrans asvar tmsg %}
        Your transaction has been cancelled. If you feel an error has occurred, contact {start_link}
        {payment_support_email}{end_link}.
        {% endblocktrans %}
        {% interpolate_html tmsg start_link="<a class='nav-link' href='mailto:"|add:payment_support_email|add:"'>"|safe end_link="</a>"|safe payment_support_email=payment_support_email|safe %}

    </p>
   
</div>
{% endblock content %}
<script type="text/javascript">
</script>