{% extends 'edx/base.html' %}

{% load core_extras %}
{% load i18n %}
{% load django_markup %}
{% load static %}

{% block title %}

{% endblock title %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "{{ rz_key }}",
        "amount": "{{ amount }}",
        "buttontext": "Pay with Razorpay",
        "name": "{{name}}",
        "description": "{{description}}",
        "image": "{{logo_url}}",
        "theme.color": "{{theme_color}}",
        "order_id": "{{ order_id }}",
        "handler": function (response){
            var url = "{% url 'razorpay:razorpay-success-response' basket_id=basket.id %}";
            var params = {
                'rz_id': response.razorpay_payment_id,
                'txn_id': "{{ txn_id }}"
            };
            window.location = url + "?" + $.param(params);
        },
        "prefill": {
            "email": "{{ email }}"
        },
        "modal": {
            "ondismiss": function(){
                var url = "{% url 'razorpay:razorpay-cancel-response' basket_id=basket.id %}";
                window.location = url;
            }
        },
        "notes": {
            "txn_id": "{{ txn_id }}",
        }
    };
    console.log(options)
    var rzp = new Razorpay(options);
    rzp.open();
</script>

{% endblock content %}
